h1 {
  font-family: poppins;
  font-weight: 100;
  font-size: 39px;
  letter-spacing: 0.9px;
}


.dashboard-top {
  display: flex;
  justify-content: space-between;

}

.dashboard-box-1 {
  // justify-content: space-between;
  // width: 33%;
}

.dashboard-performance {

}

.header {
  margin: 0 0 0 0;
}

.value {

}

.sectionheader {
  display: flex;
  justify-content: space-between;
}

// .sectionheader1 {
//   justify-content: space-between;
//   width: 50%;
// }

.performance {
    // width: 33%;
}

.detailslist {
  list-style: none;
  padding-left: 0px;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details2 {
}

.detailsheader {
  margin: 0 0 0 0;
}
