.main {
  padding: 40px 15px 80px 15px;
}

p {
  margin: 0 0 0 0;
}

h1 {
  font-family: poppins;
  font-weight: 100;
  font-size: 39px;
  letter-spacing: 0.9px;
  padding-bottom: 15px;
  font-size: 35px;
}


.dashboard-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.dashboard-box-1 {
  // justify-content: space-between;
  // width: 33%;
  text-align: left;
}

.dashboard-performance {

}

.header {
  margin: 0 0 0 0;
  font-size: 12px;
  font-weight: 400;
  color: #969696;
}

.value {
  font-weight: 600;
  font-size: 15px;
  font-weight: 500;
  // font-size: 15px;
}

.sectionheader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.sectionheader1 {
  font-size: 12px;
  font-weight: 400;
  color: #969696;
  margin: 0px 0px 8px 0px;
}

.sectionheader2 {
  font-size: 12px;
  font-weight: 300;
  color: #969696;
  margin: 0px 0px 8px 0px;
}

// .sectionheader1 {
//   justify-content: space-between;
//   width: 50%;
// }

.performance {
    padding: 0 0 0 0;
    // margin: 0 0 0 0;
}

.detailslist {
  list-style: none;
  padding-left: 0px;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details2 {
}

.detailsheader {
  margin: 0 0 0 0;
  font-size: 15px;
  font-weight: 500;
  padding: 0 0 0 0;
}

.performancedev-neg {
  color: #EE5B53;
  font-weight: 400;
}

.performancedev-pos {
  color: #24b584;
  font-weight: 400;
}

.institutions {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
}

.view {
  font-size: 12px;
  font-weight: 300;
  color: #969696;
}

.link {
  color: blue;
}

.percentage {
  // font-size: .8em;
  // line-height: 1;
  // text-transform: uppercase;
  width: 85%;
  height: 10px;
  margin: 0 0 0 0;
  // background: none;
  padding-bottom: 0px;
  border-radius: 5px;

  &:after {
    content: "";
    display: block;
    background-color: #0077b6;
    // width: 90%;
    margin: 0 0 0 0;
    height: 90%;
    // position: relative;
    top: 50%;
    transform: translateY(-50%);
    // transition: background-color .3s ease;
    cursor: pointer;
    border-radius: 2px;
  }
  &:hover,
  &:focus {
    &:after {
       background-color: #aaa;
    }
  }
}

@for $i from 1 through 100 {
  .percentage-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
  }
}
