<h1> <%= @portfolio.institution.name %> </h1>

  <% invest = 0 %>
  <% @assets.each do |asset| %>
    <% asset.acquisitions.each do |acquisition| %>
      <% invest += (acquisition.unit_price_bought * acquisition.units_bought)%>
    <% end %>
  <% end %>

<h3> Your investments: <%= invest.round(2) %> € </h3>

  <% performance = (current_value / invest) %>

<h3> Your performance: <%= performance.round(2) %> </h3>

<h3> Industries: </h3>

<h3> Assets: </h3>


<%= link_to "< go back", "#" %>
