<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" id="close_button" onclick="closeNav()">&times;</a>
  <%= link_to 'Dashboard', dashboard_path %>
  <% current_user&.portfolios.each do |portfolio| %>
    <%= link_to "#{portfolio.institution.name}", portfolio_path(portfolio), class: 'side_button' %>
  <% end %>
  <%= link_to 'Manage Connections', institutions_path, class: 'side_button line-height' %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item side_button" %>
</div>

<!-- Use any element to open the sidenav -->
<span id="open_button"><i class="fas fa-bars"></i></span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
