<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" id="close_button" onclick="closeNav()">&times;</a>
  <a href="#">Your Portfolio</a>
  <a href="#">Scalable Capital</a>
  <a href="#">Bitpanda</a>
  <a href="#">Trade Republic</a>
  <a href="#">Retirement Plan</a>
  <a href="#">Add Portfolio</a>
</div>

<!-- Use any element to open the sidenav -->
<span id="open_button"><i class="fas fa-bars"></i></span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
