<h1>finport</h1>

<p> All your investments across brokers and banks in one place </p>

<p> Transparency and optimization on one user-friendly, easy to use platform </p>

<p> Thousands of partner integrations via Api Connections </p>

<p> Our partners: TradeRepublic, Coinbase, Scalable Capital, Deutsche Bank, and many more</p>
