<h1 class="finport">finport</h1>
<div class="bottommenubackground">
  <div class="bottommenu d-flex justify-content-around">
    <%= render 'shared/side_menu' %>
    <!-- <p class="nbicons"><i class="fas fa-bars"></i></p> -->
    <p class="nbicons"><i class="fas fa-search"></i></p>
    <p class="nbicons"><i class="fas fa-book"></i></p>
    <p class="nbicons"><i class="fas fa-user-circle"></i></p>
  </div>
</div>
<div class="containertry">

  <div class="percentageup"><i class="far fa-arrow-alt-circle-up" id="iconup"></i>5%</div>

  <div class="percentagedown"><i class="far fa-arrow-alt-circle-down" id="icondown"></i>10%</div>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat quae dolore eos, dignissimos assumenda, autem, iure odio corporis inventore necessitatibus velit soluta tenetur maxime laudantium perferendis repellendus sint. Voluptates, dolore.</p>



  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat quae dolore eos, dignissimos assumenda, autem, iure odio corporis inventore necessitatibus velit soluta tenetur maxime laudantium perferendis repellendus sint. Voluptates, dolore.</p>
  <button id="try" class="confirmbuttonpurple">Confirm</button>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta praesentium aspernatur ex placeat sed architecto eligendi natus sunt quas voluptate explicabo, necessitatibus esse error, voluptatum cupiditate, illum facilis ad odit?</p>
  <p id="beige">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta praesentium aspernatur ex placeat sed architecto eligendi natus sunt quas voluptate explicabo, necessitatibus esse error, voluptatum cupiditate, illum facilis ad odit?</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus modi incidunt ipsa quaerat ipsum, corporis consequatur accusamus ad libero asperiores facere atque dolorem mollitia eveniet perferendis distinctio minus architecto placeat.</p>
  <p id="rose">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur libero expedita praesentium commodi, facere minima perspiciatis ratione ab, dolore suscipit? Aut ipsam beatae nesciunt maxime amet, quidem voluptatibus nemo.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, consequuntur! Explicabo illum exercitationem beatae nesciunt hic molestias pariatur praesentium quia, deleniti nisi perspiciatis numquam necessitatibus corporis aspernatur libero ipsam sint?</p>
  <button id="try" class="confirmbuttonpurple">Confirm</button>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eligendi voluptatem expedita adipisci reprehenderit, error laudantium laboriosam odio repellendus magnam. Fuga qui iste porro voluptatem ad magni quisquam, ducimus aut.</p>
  <button class="confirmbutton">Confirm</button>


</div>
